body {
  scrollbar-width: none;
  
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75),
    black 120%
  );
  background-attachment: fixed;  
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  height: 100vh;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

#main {
  width: 400px;
}

#stats, #role {
  display: table;
}
.stat-row {
  display: table-row;
}
.stat-name, .stat-value {
  display: table-cell;
  padding-right: 1em;
}

.progress-holder {
  background-color: #fefefe;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 300px;
  max-width: 100%;
  position: relative;
  text-align: center;
}

.progress {
  border-radius: 3px;
  height: 20px;
  width: 0;
  transition: width 0.5s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.hp-progress .progress {
  background: darkred;
  background: -webkit-linear-gradient(to bottom, red, darkred);
  background: linear-gradient(to bottom, red, darkred);  
}

.mp-progress .progress {
  background: darkblue;
  background: -webkit-linear-gradient(to bottom, blue, darkblue);
  background: linear-gradient(to bottom, blue, darkblue);  
}

.st-progress .progress {
  background: darkorange;
  background: -webkit-linear-gradient(to bottom, orange, darkorange);
  background: linear-gradient(to bottom, orange, darkorange);  
}

.xp-progress .progress {
  background: #ad5389;
  background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);
  background: linear-gradient(to bottom, #3c1053, #ad5389);  
}

.button {
  border: 2px solid white;
  padding: 3px;
}

#terminal {
  padding: .1em 1.5em 1em 1em;
}

#terminal output {
  clear: both;
  width: 100%;
}

#terminal output pre, #terminal output h1 {
  margin: 0;
}

.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}
.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.prompt {
  white-space: nowrap;
  color: #96b38a;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}

.color-white {
  color: white;
}
.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
.color-green {
  color: green;
}
.color-yellow {
  color: yellow;
}
.color-magenta {
  color: magenta;
}
.color-cyan {
  color: cyan;
}
