body {
  background-color: rgb(0, 0, 0);
  color: rgb(35, 138, 12);
  scrollbar-width: none;
  touch-action: manipulation;
  font-size: 18px;
  font-family: monospace;
}

#stats, #role {
  display: table;
}
.stat-row {
  display: table-row;
}
.stat-name, .stat-value {
  display: table-cell;
  padding-right: 1em;
}
